{% extends "core/base.html"%}
<title>{% block title %} Guarderia {% endblock %}</title>

{% block content %}
<h2>Guardería</h2><br>
<div class="lgmd">
    <h4>✔️ Guarderia Canina ¡Trabajamos los 365 dias del año!</h4>
    <p>No incluye alimento.</p>   
    <p>No somos un pensionado, trabajamos con un numero reducido de mascotas para su mayor comodidad.</p>   
    <p>Ellos duermen dentro de casa, y son tratados como nuestros perros.</p>  
    <p>No trabajamos ni con jaulas ni caniles ni mucho menos los atamos.</p>   
    <p>Y nos aseguramos de darle todo el amor que necesita.</p>    
    <p>Reserve con anticipacion: (lo recomendamos para su tranquilidad y la nuestra)</p>    
    <p>con solo un minimo usted ya tendra garantizado su lugar sin sorpresas de ultimo minuto.</p>  
</div>
<div class="lgmd">
    <h4>✔️¿Qué perros pueden venir a FocheCan?</h4>
    <p>TODOS los perros que tengan su libreta sanitaria al día.</p>
    <p>TODOS los perros que tengan una buena socialización!</p>     
    <p>IMPORTANTE: Si tenés dudas sobre el comportamiento de tu perro en la guardería no dejes de consultar para hacer una cita junto a tu perro y hacer la adaptación necesaria.</p>
</div>
<div class="lgmd">
    <h4>✔️¿Qué hacen nuestros huéspedes durante su estadía?</h4>
    <p>Comparten todo el día al aire libre y dentro de la casa. Por lo que tenemos un cupo limitado de huéspedes, ya que nos interesa poder dedicarle a cada uno de ellos el tiempo </p>
    <p>y cuidado que se merecen para que pasen unos hermosos días durante su estadía rodeados de amigos y disfrutando junto a ellos de una convivencia en absoluta armonía.</p>
    <p>Tienen a disposición diversidad de juguetes, juegos para que aprovechen cada momento. Siempre bajo nuestra supervisón.</p>
    <p>Juegos de olfato y ejercicios de obediencia son algunas de las actividades que compartimos con nuestros huéspedes para trabajar su estimulación mental como así también </p>     
    <p>canalizar su energía de manera eficaz.</p>
</div>

{% endblock %}

