{% extends "core/base.html"%}
<title>{% block title %} Quiens Somos {% endblock %}</title>

{% block content %}
<h2>Quiénes Somos</h2><br>
            <p> 
                En FocheCan, creemos en la pasión por el Adiestramiento, mejorar nuestra relacion con nuestros perros y nuestra visión es crear una sociedad donde cada perro y su humano puedan disfrutar de una relación armoniosa y gratificante. 
                 Creemos en un mundo donde los perros son comprendidos, respetados, tratados con amor y paciencia, desde nuestros inicio en 2024
            <p>
            <p> <u> Nuestros Valores:</u> 

                En FocheCan, nos regimos por un conjunto de valores fundamentales que guían cada aspecto de nuestro trabajo.
                <br><br> 
                <u>Excelencia:</u> Nos esforzamos por alcanzar la excelencia en todo lo que hacemos, desde la calidad de nuestros productos/servicios hasta la atención al cliente.
                <br><br>
                <u>Integridad:</u> Operamos con integridad en todas nuestras interacciones, manteniendo la transparencia y la honestidad en cada paso del camino.
                <br><br>
                <u>Innovació:</u> Nos apasiona la innovación y buscamos constantemente nuevas formas de mejorar y crecer en un entorno en constante cambio.
                <br><br>
                <u>Compromiso:</u>Estamos comprometidos con el éxito de nuestros clientes, colaboradores y comunidades a las que servimos.
                <br><br>
                <u>Sostenibilidad: </u> Nos comprometemos a operar de manera sostenible y responsable, minimizando nuestro impacto en el medio ambiente y apoyando prácticas comerciales éticas.
            </p> 
            En FocheCan, estamos dedicados a Adiestramiento Canino. Siempre estamos buscando nuevas formas de servir a nuestros clientes y hacer una diferencia positiva en el mundo que nos rodea.
    ¡Gracias por elegirnos!
{% endblock %}



